In [2]:
import streamlit as st
import numpy as np 
import pandas as pd

In [7]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69,139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.699979  139.711307
1   35.697492  139.702097
2   35.692304  139.717160
3   35.696177  139.716837
4   35.692050  139.706299
..        ...         ...
95  35.707874  139.705911
96  35.695275  139.717339
97  35.703645  139.706021
98  35.708144  139.717401
99  35.692989  139.713272

[100 rows x 2 columns]

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
import time

In [11]:
for i in range(100):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99